/* GLOBAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.backToTop {
    position: fixed;
    bottom: 5%;
    right: 2%;
}

/* HEADER */

/* topBar */

.topBar__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 20px;
}

.topBar__content nav ul li {
    list-style: none;
    display: inline;
}

.topBar__content nav ul a {
    color: white;
    padding: 10px;
}

.topBar__content p {
    color: white;
}

/* end topBar */

/* navBar */

.navbar-collapse {
    margin: 20px 0;
}

.navbar-collapse .navbar-nav .nav-item {
    padding: 0 10px;
    color: #363d41;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #7F67F8;
}

#headerMenu .navbar-nav .active>.nav-link {
    color: #7F67F8;
}

.navbar .navbar-brand {
    font-size: 34px;
    color: #7f8285;
}

.navbar .navbar-toggler {
    background-color: #7F67F8;
}

.navbar .navbar-brand span {
    color: #7F67F8;
    font-weight: bold;
    font-size: 38px;
}

/* end navBar */

/* END HEADER */

/* SLIDER */

.slider__content {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    text-align: center;
    background-size: cover;
    height: 500px;
    color: white;
    position: relative;
}

/* END SLIDER */

/* FOCUSING SERVICES */

.focusingServices__content {
    text-align: center;
    margin: 30px 0;
}

.focusingServices__content h1 {
    font-size: 3em;
    margin-top: 60px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.focusingServices__content p {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #7f8285;
}

.focusingServices__content .hr {
    width: 75%;
    height: 1px;
    margin: 60px auto 50px auto;
    background-color: #4b494937;
}

.focusingServices__items i {
    color: #f97c69;
    font-size: 40px;
    padding-bottom: 25px;
}

.focusingServices__items h3 {
    font-weight: bold;
}

.focusingServices_item1, .focusingServices_item2, .focusingServices_item3 {
    margin: 20px 0;
}

.focusingServices_item2 {
    border-right: #4b494937 1px solid;
    border-left: #4b494937 1px solid;
}

@media (max-width: 568px){
.focusingServices_item2 {
    border-left: none;
    border-right: none;
}
}

.focusingServices__items p {
    color: rgba(65, 63, 63, 0.577);
}

/* END FOCUSING SERVICES */

/* BANNER CONTACT */

.bannerContact {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    text-align: center;
    background-size: cover;
    padding: 6em 0;
}

.bannerContact__button a {
    font-size: 22px;
    color: white;
    background-color: #7f67f8;
    letter-spacing: 4px;
    display: inline-block;
    padding: 12px 40px;
    text-decoration: none;
    transition: all .5s;
}

.bannerContact__button a:hover {
    background-color: #f97c69;
    transition: all .5s;
}

.bannerContact__text h3 {
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

/* END BANNER CONTACT */

/* COUNT NUMBER */

.countNumber {
    margin: 90px 0;
}

.countNumber__content {
    text-align: center;
}

.countNumber__content h2 {
    font-size: 40px;
    width: 70%;
    margin: 0 auto;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

@media(max-width: 568px){
.countNumber__content h2 {
    font-size: 45px;
    width: 90%;
    margin: 0 auto;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}
}

.countNumber__content p {
    margin-top: 20px;
    letter-spacing: 1px;
    color: #7f8285;
}

.countNumber__items p {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f97c69;
}

.countNumber__items h3 {
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
}

.countNumber__items h6 {
    font-size: 16px;
    margin-top: 0.8em;
    color: #777;
}

/* END COUNT NUMBER */

/* MAIN SERVICES */

.mainServices {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    text-align: center;
}

.mainServices__content {
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.mainServices__items {
    padding: 80px 30px;
}

.mainServices__items i {
    font-size: 3em;
}

.mainServices__item1, .mainServices__item3, .mainServices__item5 {
    color: white;
    background-color: #f97c69;
}

.mainServices__item2, .mainServices__item4, .mainServices__item6 {
    background-color: white;
}

.mainServices__item2 i, .mainServices__item4 i, .mainServices__item6 i {
    color: #f97c69;
}

.mainService__title {
    padding: 100px 0 100px 0;
}

.mainService__title h1 {
    font-size: 3em;
}

.mainService__title p {
    padding-top: 10px;
    letter-spacing: 1px;
}

.mainServices__items h6 {
    font-size: 1.8em;
    margin: 0.5em 0;
    letter-spacing: 2px;
    font-weight: 600;
}

.mainServices__items p {
    letter-spacing: 1px;
    font-size: 1.5em;
}

/* END MAIN SERVICES */

/* OUR CUSTOMER */

.ourCustomer__content {
    text-align: center;
}

.ourCustomer__title h6 {
    font-size: 3.5em;
    margin-top: 100px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.ourCustomer__title p {
    letter-spacing: 1px;
    color: rgb(127, 130, 133);
    padding: 20px 0 70px 0;
}

.carousel-inner .carousel-item img {
    width: 110px;
    border-radius: 50%;
    background-color: #7F67F8;
    padding: 5px;
}

.carousel-item1, .carousel-item2, .carousel-item4, .carousel-item5 {
    padding-bottom: 40px;
}

.carousel-inner .carousel-item h3 {
    color: #2c363e;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 20px 0 0;
    font-size: 20px;
} 

.carousel-inner .carousel-item p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #7f8285;
    margin: 15px 0 0;
}

.carousel-indicators {
    transform: translateY(100px);
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    margin: 7px;
    border-radius: 50%;
}

#ourCustomerCarousel .carousel-indicators li {
    background-color: #f97c69;
} 


/* END OUR CUSTOMER */

/* FOOTER */
.footer__content {
    background-color: black;
    color: white;
    margin-top: 200px;
    padding: 60px 0;
}

.sub__newsletter h3, .our__links h3, .contact__us h3 {
    font-size: 2em;
    color: #f97c69;
    letter-spacing: 1px;
    margin-bottom: 50px;

}

.sub__newsletter p {
    font-size: 20px;
    padding-bottom: 30px;
}

.our__links ul li, .contact__us ul li {
    font-size: 20px;
    list-style: none;
    padding-bottom: 10px;
}

.contact__us ul li span {
    padding-right: 10px;
    color: #f97c69;
}

.our__links {
    transform: translateX(170px);
}

.our__links ul li a {
    color: white;
    text-decoration: none;
}

.input-group input {
    padding: 23px 10px 35px 10px;
    background-color: black;
    font-size: 20px;
}

.input-group-append span {
    background-color: #7F67F8;
    color: white;
    font-size: 20px;
}

/* END FOOTER  */