/* GLOBAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.backToTop {
    position: fixed;
    bottom: 5%;
    right: 2%;
}

/* HEADER */

/* topBar */

.topBar__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 20px;
}

.topBar__content nav ul li {
    list-style: none;
    display: inline;
}

.topBar__content nav ul a {
    color: white;
    padding: 10px;
}

.topBar__content p {
    color: white;
}

/* end topBar */

/* navBar */

.navbar-collapse {
    margin: 20px 0;
}

.navbar-collapse .navbar-nav .nav-item {
    padding: 0 10px;
    color: #363d41;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: 600;

}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #7F67F8;
}

#headerMenu .navbar-nav .active>.nav-link {
    color: #7F67F8;
}

.navbar .navbar-brand {
    font-size: 34px;
    color: #7f8285;
}

.navbar .navbar-toggler {
    background-color: #7F67F8;
}

.navbar .navbar-brand span {
    color: #7F67F8;
    font-weight: bold;
    font-size: 38px;    
}
/* end navBar */

/* END HEADER */

/* SLIDER */
.slider__content {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    text-align: center;
    background-size: cover;
    height: 500px;
    color: white;
    position: relative;
}

/* END SLIDER */

/* FOCUSING SERVICES */
.focusingServices__content {
    text-align: center;
    margin: 30px 0;
}

.focusingServices__content h1 {
    font-size: 3.5em;
    margin-top: 100px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.focusingServices__content p {
    font-size: 15px;
    margin: 20px auto;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #7f8285;
}

.focusingServices__content .hr {
    width: 75%;
    height: 1px;
    margin: 100px auto 50px auto;
    background-color: #4b494937;
}

.focusingServices__items i {
    color: #f97c69;
    font-size: 40px;
    padding-bottom: 25px;
}

.focusingServices__items h3 {
    font-weight: bold;
}

.focusingServices_item1, .focusingServices_item2,     
.focusingServices_item3 {
    margin: 20px 0;
}

.focusingServices_item1, .focusingServices_item2 {
    border-right: #4b494937 1px solid;
}

.focusingServices__items p {
    color: rgba(65, 63, 63, 0.577);
}

/* END FOCUSING SERVICES */

/* BANNER CONTACT */
.bannerContact {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    text-align: center;
    background-size: cover;
    padding: 6em 0;
}

.bannerContact__button a {
    font-size: 22px;
    color: white;
    background-color: #7f67f8;
    letter-spacing: 4px;
    display: inline-block;
    padding: 12px 40px;
    text-decoration: none;
    transition: all .5s;
}

.bannerContact__button a:hover {
    background-color: #f97c69;
    transition: all .5s;
} 

.bannerContact__text h3 {
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}
/* END BANNER CONTACT */

/* COUNT NUMBER */
.countNumber {
    margin: 90px 0;
}

.countNumber__content {
    text-align: center;
}

.countNumber__content h2 {
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.countNumber__content p {
    margin-top: 20px;
    letter-spacing: 1px;
    color: #7f8285;
}

.countNumber__items p {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f97c69;

}

.countNumber__items h3 {
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
}

.countNumber__items h6 {
    font-size: 16px;
    margin-top: 0.8em;
    color: #777;
}
/* END COUNT NUMBER */

/* MAIN SERVICES */
.mainServices {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    text-align: center;
}

.mainServices__items {
    padding: 20px 20px;
}

.mainServices__items i {
    font-size: 3em;
}

.mainServices__item1, .mainServices__item3, .mainServices__item5 {
    color: white;
    background-color: #f97c69;
}

.mainServices__item2, .mainServices__item4, .mainServices__item6 {
    background-color: white;
}

.mainServices__item2 i, .mainServices__item4 i, .mainServices__item6 i {
    color: #f97c69;
}
/* END MAIN SERVICES */